$color-background-main: #363742;


$color-background-pink: #ee28b3;
$color-background-grey: #1f202b;
$color-background-white: #ffffff;
$color-background-blue: #0099FF;
$color-background-purple: #4a00e0;


$color-text: #ffffff;
$color-text-primary: #000000;
$color-text-secondary: #818c99;

