@import '../assets/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

body {
  margin: 0 auto;
  font-family: system-ui, sans-serif;
   /* background-image: url('@/components/icons/123.svg');  */
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
}
