@import '../assets/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hachi+Maru+Pop&display=swap');

body {
  margin: 0;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-background);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
  box-shadow: 0 0 0 100px white inset;
  -webkit-text-fill-color: #000; 
}