body {
  margin: 0;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Good dog';
  src: url('./fonts/gooddog.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}