:root {
    --color-background: #f0f0f0;
    --color-secondary: #ffffff;
    --color-accent: #0817ecb9;
    --color-text-secondary: #818c99;
    --color-text-primary: #000000;
    --color-text: #ffffff;
    --color-background-light: #f5f7fa;
  }


/* :root {
    --color-primary: #0d121b;
    --color-secondary: #111827;
    --color-accent: #ffd859;
    --color-background: #ffffff;
    --color-text: #ffffff;
